 html, body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

label {
    display: block;
}

button {
    background: #F5C518;
    padding: 10px;
    border: none;
    height:50px;
    font-size: 1.1em;
    text-transform: uppercase;
}

img {
    max-height: 200px;
    display: block;
}

.movie-image {
    max-width: 140px;
}

p {
    margin: 0;
    padding: 0;
}

.box {
    margin: 10px 0;
    padding: 20px;
    background: #ececec
}

.box-divider {
    margin-left: 30px;
}

.pesquisa {
    margin-bottom: 30px;
}

.sinopse {
    font-size: 14px;
}

.genero {
    font-size: 14px;
    font-weight: bold
}

.ano {
    font-size: 14px;
    font-weight: bold
}