.form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    max-height: 200px;
    display: block;
}

.movie-image {
    max-width: 140px;
}

p {
    margin: 0;
    padding: 0;
}

.box {
    margin: 10px 0;
    padding: 10px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.iframe-trailer {
    margin-top: 5px;
}

.pesquisa {
    margin-bottom: 30px;
}

.sinopse {
    font-size: 14px;
}

.genero {
    font-size: 14px;
    font-weight: bold
}

.ano {
    font-size: 14px;
    font-weight: bold
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

footer {
    background-color: #363535;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25);
}

footer p {
    color: #fff;
}

.que-filme-hoje {
    text-align: center;
    margin-top: 20px;
}

.descricao-site {
    text-align: center;
    color: rgb(115, 115, 115);
}

#inputTextoPesquisa, #buttonPesquisa {
    margin-top: 20px;
}

.section {
    margin-top: 20px;
}